.toolbar-background {
    background-color: black !important;
}
.center-vertical{
    vertical-align: middle;
    margin-top: 8px;
    margin-right: 10px;
}
.login-form{
    margin-right:10px;
    color: black;
}
.rounded-input{
    border-radius: 4px;
}