<ion-content>
    <ion-list>
        <ion-item color="secondary">
            {{this.userInfo.DisplayName}}
        </ion-item>
        <!-- A trainee user cannot have any role other than trainee.
            We block the popover menu to adjust a users roles from showing up
            for trainee users. -->
        <ion-item *ngIf="!this.userInfo.IsTraineeUser">
            <ion-label>Update Roles</ion-label>
            <ion-select multiple placeholder="Role(s)" [(ngModel)]="this.popoverRoleIDs"
                (ionChange)="this.onUpdateRolesClick()">
                <ion-select-option *ngFor="let roleOption of this.jobTrainingService.selectedProgram.NonTraineeRoles"
                    [value]="roleOption.ProgramRoleID">{{roleOption.Name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item button (click)="this.onRemoveUserClick();">
            Remove
        </ion-item>
        <ion-item button (click)="this.onCloseClick();">
            Close
        </ion-item>
    </ion-list>
</ion-content>