<h2 mat-dialog-title style="margin: -18px -16px 4px -16px">
  <ion-row class="full-width-item ion-align-items-center">
    <ion-col>
      Changelog
    </ion-col>
    <ion-col size="auto">
      <ion-button (click)="this.closeDialog();" fill="clear">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</h2>
<mat-dialog-content class="" style="font-size:12px;" >

  <table mat-table [dataSource]="this.certificationAuditLogDataSource" class="tms-mat-table" style="width:100%;">

    <ng-container matColumnDef="DateUpdated">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Date Updated
      </th>

      <td mat-cell *matCellDef="let logItem" class="tms-table-cell"
      [class.tms-table-cell-raised]="this.logItem.EntryDate >= this.certificationInfo.LastReviewDate">
        {{logItem.EntryDate | date:"MM/dd/yyyy hh:mm a"}}
      </td>

    </ng-container>
    <ng-container matColumnDef="UpdatedBy">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Updated By
      </th>

      <td mat-cell *matCellDef="let logItem" class="tms-table-cell">
        {{logItem.User}}
      </td>

    </ng-container>
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Title
      </th>

      <td mat-cell *matCellDef="let logItem; index as i" class="tms-table-cell"
        [class.differing-item]="this.logItem.PreviousModification ? this.logItem.PreviousModification.DeserializedModification.Title != this.logItem.DeserializedModification.Title : true">
        {{logItem.DeserializedModification.Title}}
      </td>

    </ng-container>
    <ng-container matColumnDef="TypeName">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Type
      </th>

      <td mat-cell *matCellDef="let logItem; index as i" class="tms-table-cell"
        [class.differing-item]="this.logItem.PreviousModification ? this.logItem.PreviousModification.DeserializedModification.TypeInfo.Name != this.logItem.DeserializedModification.TypeInfo.Name : true">
        {{logItem.DeserializedModification.TypeInfo.Name}}
      </td>

    </ng-container>
    <ng-container matColumnDef="TrainingHours">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Hours
      </th>

      <td mat-cell *matCellDef="let logItem; index as i" class="tms-table-cell"
        [class.differing-item]="this.logItem.PreviousModification ? this.logItem.PreviousModification.DeserializedModification.TrainingHours != this.logItem.DeserializedModification.TrainingHours : true">
        {{logItem.DeserializedModification.TrainingHours}}
      </td>

    </ng-container>
    <ng-container matColumnDef="CompletionDate">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Completion Date
      </th>

      <td mat-cell *matCellDef="let logItem; index as i" class="tms-table-cell"
        [class.differing-item]="this.logItem.PreviousModification ? this.logItem.PreviousModification.DeserializedModification.CompletionDate != this.logItem.DeserializedModification.CompletionDate : true">
        {{logItem.DeserializedModification.CompletionDate | date:"MM/dd/yyyy"}}
      </td>

    </ng-container>
    <ng-container matColumnDef="ExpirationDate">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Expiration Date
      </th>

      <td mat-cell *matCellDef="let logItem; index as i" class="tms-table-cell"
        [class.differing-item]="this.logItem.PreviousModification ? this.logItem.PreviousModification.DeserializedModification.ExpirationDate != this.logItem.DeserializedModification.ExpirationDate : true">
        {{logItem.DeserializedModification.ExpirationDate | date:"MM/dd/yyyy"}}
      </td>

    </ng-container>
    <ng-container matColumnDef="CloudPath">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Upload
      </th>

      <td mat-cell *matCellDef="let logItem; index as i" class="tms-table-cell"
        [class.differing-item]="this.logItem.PreviousModification ? this.logItem.PreviousModification.DeserializedModification.Cloudpath != this.logItem.DeserializedModification.Cloudpath : true">
        <span *ngIf="this.logItem.DeserializedModification.Cloudpath">
          <ion-button color="primary" fill="clear" title="Download" (click)="this.onOpenCertificationUploadBtn(this.logItem.DeserializedModification.Cloudpath)">
            <ion-icon name="download-outline"></ion-icon>
          </ion-button>
        </span>
        <span *ngIf="!this.logItem.DeserializedModification.Cloudpath">
          --
        </span>

      </td>

    </ng-container>
    <ng-container matColumnDef="IsArchived">
      <th mat-header-cell *matHeaderCellDef class="tms-table-cell">
        Archived
      </th>

      <td mat-cell *matCellDef="let logItem; index as i" class="tms-table-cell"
        [class.differing-item]="this.logItem.PreviousModification ? this.logItem.PreviousModification.DeserializedModification.IsDeleted != this.logItem.DeserializedModification.IsDeleted : true">
        {{this.logItem.DeserializedModification.IsDeleted ? 'Yes' : 'No'}}
      </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="certificationAuditLog_matTable_displayedColumns"
      class="tms-table-row table-header-row"></tr>

    <tr mat-row *matRowDef="let certification; columns: certificationAuditLog_matTable_displayedColumns;" role="button"
      class="tms-table-row table-body-row  "></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td [attr.colspan]="certificationAuditLog_matTable_displayedColumns.length">
        <div>
          <span>
            There is no audit data to review.
          </span>
        </div>
      </td>
    </tr>
  </table>
  <ion-row class="ion-align-items-center"
              [hidden]="this.certificationAuditLogDataSource.data.length == 0 || !this.initialized ">
              <ion-col>
                <!--Paginator for the certifications table-->
                <mat-paginator [length]="this.certificationAuditLogDataSource.data.length" [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
              </ion-col>
            </ion-row>

</mat-dialog-content>