<div class="category-edit-popover ">
    

    <ion-content>

        <ion-item class="popover-item ion-no-padding " lines="none" button="true" (click)="dismiss('Rename', true)">
            
                <ion-icon name="text-outline" style="margin-left:10px;margin-right:10px;"></ion-icon>
            
                Rename
           
            
            
        </ion-item>

        <ion-item class="popover-item ion-no-padding" lines="none" button="true" (click)="dismiss('Add Subcategory', true)">
            
            <ion-icon name="folder-outline" style="margin-left:10px;margin-right:10px;"></ion-icon>
            
                Add Subcategory
            
           
            
        </ion-item>

        <ion-item class="popover-item ion-no-padding "  lines="none" button="true" (click)="dismiss('Add Item', true)">
            
            <ion-icon name="document-outline" style="margin-left:10px;margin-right:10px;" ></ion-icon>
        
                Add Item
           
           
        </ion-item>
        <ion-item class="popover-item ion-no-padding " lines="none" button="true" (click)="dismiss('Delete', true)">
           
            <ion-icon name="trash-outline" style="margin-left:10px;margin-right:10px;"></ion-icon>
            
                Delete
           
          
        </ion-item>

    </ion-content>

   
</div>