<ion-content>
    <ion-list>
        <ion-item button
            (click)="this.dismissPopover('editCertification');">
            Edit
        </ion-item>
        <ion-item button
            (click)="this.dismissPopover('renewCertification');">
            Renew
        </ion-item>
        <ion-item button
            (click)="this.dismissPopover('removeCertification');">
            Remove
        </ion-item>
        <ion-item button (click)="this.dismissPopover('close');">
            Close
        </ion-item>
    </ion-list>
</ion-content>