<div class="ion-page">
  <ion-content color="secondary">
    <ion-row > 
      <ion-col size="12">
        <ion-item *ngIf="this.initialized" color="secondary" lines="none">
          <div>
            <!-- Search bar for records.
                ----
                [debounce] only makes us wait for the (ionChange) to run.
                (ionInput) & (ionClear) will run immediately to show our loading spinner.-->
            <ion-searchbar class="ion-no-padding" debounce="300" [(ngModel)]="this.searchTextboxInputValue"
              (ionInput)="this.isSearching = true;" (ionClear)="this.isSearching = true;"
              (ionChange)="this.setFilteredRecords();">
            </ion-searchbar>
          </div>

          <ion-row class="full-width-item ion-align-items-center">
            <ion-col style="padding-left: 0;">
              <!--Spacer-->
            </ion-col>
            <ion-col size="auto">
              <ion-button  [disabled]="!this.externalTrainingService.canEditExternalTraining()" color="success" title="Add new external training" (click)="this.onAddExternalTrainingBtnClick()">
                <ion-icon name="add"></ion-icon>&nbsp;New Training
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="button-small" color="primary" title="Export" (click)="onExportClick()">
                Export
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="button-small" color="primary" title="Export" (click)="onArchivesClick()">
                {{this.isViewingArchives ? 'Exit' : 'View'}} Archives
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-card class="responsiveCard" style="margin-top: 0;">
          <!--Skeleton Table to display when data is being loaded/searched-->
          <div *ngIf="!this.initialized || this.isSearching">
            <ion-card-header>
              <ion-skeleton-text animated style="width:100%; height:30px"></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content *ngIf="!this.initialized || this.isSearching">
              <ion-row>
                <ion-col>
                  <sls-skeleton-table [rows]="3" [columns]="9"></sls-skeleton-table>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </div>

          <!--No Data Available content when there are no records to display-->
          <ion-card-content
            *ngIf="this.externalTrainingCoursesDataSource.data.length == 0 && this.initialized && !this.isSearching"
            class="ion-no-padding">
            <ion-item color="bootstrap-bg-warning" lines="none">
              <div *ngIf="!this.searchTextboxInputValue">
                No courses available.
              </div>
              <div *ngIf="this.searchTextboxInputValue">
                No courses that match '{{this.searchTextboxInputValue}}'.
              </div>
            </ion-item>
          </ion-card-content>

          <!--Data View containing mat-table column definitions-->
          <ion-card-content class="ion-no-padding">
            <div [hidden]="this.externalTrainingCoursesDataSource.data.length == 0 || !this.initialized || this.isSearching">

              <table matSort mat-table [dataSource]="this.externalTrainingCoursesDataSource" class="tms-mat-table"
                style="width:100%;" multiTemplateDataRows (matSortChange)="this.courseSortChange($event)">

                

                <ng-container matColumnDef="Course">
                  <th mat-sort-header="course" mat-header-cell *matHeaderCellDef class="tms-table-cell">
                    Course
                  </th>

                  <td mat-cell *matCellDef="let externalTraining" class="tms-table-cell ">
                    {{externalTraining.Name}}
                  </td>

                </ng-container>
                <ng-container matColumnDef="Category">
                  <th mat-sort-header="type" mat-header-cell *matHeaderCellDef class="tms-table-cell">
                    Category
                  </th>

                  <td mat-cell *matCellDef="let externalTraining" class="tms-table-cell ">
                    {{externalTraining.CreditTypeInfo.Name}}
                  </td>

                </ng-container>
                <ng-container matColumnDef="CreatedOnDate">
                  <th mat-sort-header="createdondate" mat-header-cell *matHeaderCellDef class="tms-table-cell">
                    Created On
                  </th>

                  <td mat-cell *matCellDef="let externalTraining" class="tms-table-cell">
                    {{externalTraining.CreatedOnDate | date:'MM/dd/yyyy'}}
                  </td>

                </ng-container>
                <ng-container matColumnDef="StartDate">
                  <th mat-sort-header="startdate" mat-header-cell *matHeaderCellDef class="tms-table-cell">
                    Start Date
                  </th>

                  <td mat-cell *matCellDef="let externalTraining" class="tms-table-cell">
                    <span *ngIf="externalTraining.StartDate">
                      {{externalTraining.StartDate | date:'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="!externalTraining.StartDate">
                      N/A
                    </span>
                    
                  </td>

                </ng-container>
                <ng-container matColumnDef="EndDate">
                  <th mat-sort-header="enddate" mat-header-cell *matHeaderCellDef class="tms-table-cell">
                    End Date
                  </th>

                  <td mat-cell *matCellDef="let externalTraining" class="tms-table-cell">
                    <span *ngIf="externalTraining.EndDate">
                      {{externalTraining.EndDate | date:'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="!externalTraining.EndDate">
                      N/A
                    </span>
                  </td>

                </ng-container>
                <ng-container matColumnDef="StateApproved">
                  <th mat-sort-header="stateapproved" mat-header-cell *matHeaderCellDef class="tms-table-cell">
                    Is State Approved
                  </th>

                  <td mat-cell *matCellDef="let externalTraining" class="tms-table-cell">
                    {{externalTraining.IsStateApproved ? 'Yes' : 'No'}}
                  </td>

                </ng-container>
                
                <ng-container matColumnDef="View">
                  <th mat-header-cell *matHeaderCellDef class="tms-table-cell ion-text-center ">
                    View
                  </th>

                  <td mat-cell *matCellDef="let externalTraining" class="tms-table-cell  ion-text-center small-status-cell">
                    <ion-button size="small" color="primary" fill="clear" title="View externalTraining">
                      <ion-icon name="eye-outline" *ngIf="expandedElement != externalTraining"></ion-icon>
                      <ion-icon name="chevron-up-outline" *ngIf="expandedElement == externalTraining"></ion-icon>
                    </ion-button>

                  </td>

                </ng-container>
                <ng-container matColumnDef="Remove">
                  <th class="certifications-list-table-header" mat-header-cell *matHeaderCellDef class="tms-table-cell">

                  </th>

                  <td mat-cell *matCellDef="let externalTraining" class="tms-table-cell ion-text-center small-status-cell">
                    <ion-button [disabled]="!this.externalTrainingService.canEditExternalTraining()" size="small" color="danger" fill="clear" title="Remove"
                      (click)="this.onRemoveCertificationBtnClick(externalTraining)">
                      <ion-label>
                        Remove
                      </ion-label>
                    </ion-button>
                  </td>

                </ng-container>

                <!--EXPANDABLE ROW DEFINITION-->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let externalTraining"
                    [attr.colspan]="externalTrainingCourses_matTable_displayedColumns.length" style="padding:0px !important;">
                    <div class="expanded-element-detail"
                      [@detailExpand]="externalTraining == expandedElement ? 'expanded' : 'collapsed'">
                      <!--EXPANDABLE ROW CONTENTS HERE-->
                      <external-training-details *ngIf="externalTraining == expandedElement"
                        [externalTrainingInfo]="externalTraining"
                        (onExternalTrainingArchived)="this.handleCertificationArchival()"
                        (onExternalTrainingUpdated)="this.handleExternalTrainingCourseUpdate($event)"></external-training-details>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="externalTrainingCourses_matTable_displayedColumns"
                  class="tms-table-row table-header-row"></tr>

                <tr mat-row *matRowDef="let externalTraining; columns: externalTrainingCourses_matTable_displayedColumns;"
                  role="button" class="tms-table-row table-body-row inner-body-row expanded-element-row"
                  [class.expanded-row]="expandedElement === externalTraining" [class.deleted-row]="externalTraining.IsDeleted"
                  (click)="expandedElement = expandedElement === externalTraining ? null : externalTraining"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <div *ngIf="externalTrainingCourses_matTable_displayedColumns">
                    <td [attr.colspan]="externalTrainingCourses_matTable_displayedColumns.length">
                      <div>
                        <span>
                          There is no course data to review.
                        </span>
                      </div>
                    </td>
                  </div>
                </tr>

                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-detail-row"></tr>

              </table>
            </div>
            <ion-row class="ion-align-items-center"
              [hidden]="this.externalTrainingCoursesDataSource.data.length == 0 || !this.initialized || this.isSearching">
              <ion-col>
                <!--Paginator for the certifications table-->
                <mat-paginator [length]="this.externalTrainingCoursesDataSource.data.length" [pageSize]="50"
                  [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
              </ion-col>
            </ion-row>


          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</div>