<div>
 <ion-list>
   <ion-item-divider>
     Stock Reports
   </ion-item-divider>
   <ion-item button routerLink="../reports/trainerlikertsummary">
    Trainer Scoring Summary
   </ion-item>
   <ion-item button routerLink="../reports/traineescoretrend">
    Trainee Scoring Trend
  </ion-item>
  <ion-item button routerLink="../reports/callloghistory">
    Trainee Call Log History
  </ion-item>
  <ion-item button routerLink="../reports/trainertraineepairinghistory">
    Trainer/Trainee Pairing History
  </ion-item>
 </ion-list>
</div>