.badge-center {
    position: relative;
    top: 5px;
  }

// Controls size of alerts
.alert-wrapper {
  width: auto !important;
  max-width: 70% !important;
}

// Applies a text wrap on ion options such as select
.alert-tappable.alert-radio {
  height: auto;
  contain: content;
}
.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
  white-space: normal;
}