<div id="footer-content">
<ion-grid>
  <ion-row>
    <ion-col>
      <span (click)="showPrivacyStatementDialog()" class="center-vertically spacer clickable">Privacy Statement</span>
      
      <span (click)="showTermsOfUseDialog()" class="center-vertically clickable">Terms of Use</span>
      
    </ion-col>
    <ion-col class="ion-align-self-end">
      <div class="right-side-of-container">
      <span class="center-vertically spacer">Powered by</span> <img alt="Virtual Academy Logo" src="assets/images/VA-logo-horizontal.png" />
    </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>