<!-- <header class="header-wrapper">

  <div class="left-side-h">
      <span class="back-arrow-wrapper"> <img src="../../assets/images/back-arrow.svg" alt=""></span>
      <p class="E-text">E Form Requests</p>
  </div>
  <div class="right-side">
      <img src="../../assets/images/close-button.svg" alt="">
  </div>
</header> -->
<div class="main-wrapper">
  <div class="form-screen-wrapper">

    <div class="form-header">
      <p class="pttt">New Request-11-22-2022-SLS</p>
      <div class="form-input">
        <div class="ist-form-input">
          <div class="ist-input">
            <p class="pt">Name</p>
            <input type="text" name="name" id="" placeholder="Admin" class="custom-input">
          </div>
          <div class="ist-input">
            <p class="pt">Form Type</p>
            <input type="text" name="name" id="" placeholder="Practice Form" class="custom-input">
          </div>
        </div>

        <div class="second-form-input">
          <div class="ist-input">
            <p class="pt">Email</p>
            <input type="email" name="name" id="" placeholder="admin@abc.com" class="custom-input">
          </div>
          <div class="ist-input">
            <p class="pt">Phone Number</p>
            <input type="tel" name="name" id="" placeholder="012345678" class="custom-input">
          </div>
        </div>
        <div class="notes-section">
          <p class="pt">Notes</p>
          <div class="text-sec">
            <textarea name="" id="" cols="30" rows="4"
              placeholder="Please Create form for employees that include a table of employee ID, weapon name Total shots, shots on target and result."
              class="custom-input text-area"></textarea>
          </div>
        </div>
        <div class="attachment-sec">
          <img src="../../assets/images/attachment.svg" alt="">
          <p class="pt ptt">2 Files Uploaded</p>
        </div>
        <div class="uploaded-sec-wrapper">
          <div class="uploaded-sec">
            <div class="img-png">
              <img src="../../assets/images/file-logo-.svg" alt="">
              <p class="pt">image.png</p>
            </div>
            <div class="download">
              <p class="pt download-bt">Download</p>
            </div>
          </div>
          <div class="uploaded-sec pd-2">
            <div class="img-png">
              <img src="../../assets/images/file-logo-.svg" alt="">
              <p class="pt">design.png</p>
            </div>
            <div class="download">
              <p class="pt download-bt">Download</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="border"></div>

  <!-- right side -->
  <div class="right-side-wrapper">
    <div class="right-form-side-header">
      <p class="pttt">
        Reply to Requestor
      </p>
    </div>
    <div class="right-form-side">
      <div class="notifcation-sec">
        <p class="cw">I need more detailed information to design this form</p>
      </div>
      <div class="coment-section">
        <!-- <p class="pt">Notes</p> -->
        <div class="text-sec-right">
          <textarea name="" id="" cols="30" rows="4" placeholder="Add a comment"
            class="custom-input text-area"></textarea>
        </div>
      </div>
      <div class="right-side-buttons">
        <button mat-button class="submit-btn">Submit</button>
        <button mat-button class="cancel-btn">Cancel</button>
      </div>
    </div>
  </div>
</div>